<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/common.css' />
  </head>
  <body>
	  <!-- nav -->
    <header>
    	<div class="logo"><a href="/"></a></div>
    	<nav class="topnav">
    	   <a href="/" class="topnav_current">首页</a>
    	   <a href="/about">关于我</a>
    	   <a href="/life">慢生活</a>
    	   <a href="/doing">碎言碎语</a>
    	   <a href="/share">模板分享</a>
    	   <a href="/learn">学无止境</a>
    	   <a href="/gustBook">留言板</a>
    	</nav>
    </header>