<% include header.ejs %>
  <div class="banner">
  	<section class="box">
  		<ul class="texts">
  			<p>我们不停的翻弄着回忆</p>
  			<p>却再也找不回那时的自己</p>
  			<p>红尘一梦，不再追寻</p>
  		</ul>
  		<div class="avatar">
  			<a href="/about"><span>文 一</span></a>

  		</div>
  	</section>
  </div>

  <div class="template">
  	<div class="box">
  		<h3>
  			<p><span>个人博客</span>模板 Templates</p>
  		</h3>
  		<ul>
  		    <li>
  		    	<a href="#" title="">
  		    		<img src="./images/template01.jpg" alt="">
  		    	</a>
  		    	<span>个人博客《草根寻梦》—手机版模板</span>
  		    </li>
  		    <li>
  		    	<a href="#" title="">
  		    		<img src="./images/template01.jpg" alt="">
  		    	</a>
  		    	<span>个人博客《草根寻梦》—手机版模板</span>
  		    </li>
  		    <li>
  		    	<a href="#" title="">
  		    		<img src="./images/template01.jpg" alt="">
  		    	</a>
  		    	<span>个人博客《草根寻梦》—手机版模板</span>
  		    </li>
  		    <li>
  		    	<a href="#" title="">
  		    		<img src="./images/template01.jpg" alt="">
  		    	</a>
  		    	<span>个人博客《草根寻梦》—手机版模板</span>
  		    </li>
  		    <li>
  		    	<a href="#" title="">
  		    		<img src="./images/template01.jpg" alt="">
  		    	</a>
  		    	<span>个人博客《草根寻梦》—手机版模板</span>
  		    </li>
  		</ul>
  	</div>
  </div>

  <article>
  	<h2 class="title_tj">
  		<p>文章<span>推荐</span></p>
  	</h2>
  	<div class="bloglist left">
  		<h3><a href="#">柠檬绿兔小白个人博客模板</a></h3>
  		<figure><img src="./images/template03.jpg" alt=""></figure>
  		<span class="description">
  			<p>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇</p>
  			<a title="【活动作品】柠檬绿兔小白个人博客模板" href="#" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
  		</span>
  		<p class="dateview">
  			<span>2016-05-02</span>
  			<span>作者：文一</span>
  			<span>个人博客：[<a href="#">原创个人博客模板</a>]</span>
  		</p>
  		<h3><a href="#">柠檬绿兔小白个人博客模板</a></h3>
  		<figure><img src="./images/template03.jpg" alt=""></figure>
  		<span class="description">
  			<p>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇</p>
  			<a title="【活动作品】柠檬绿兔小白个人博客模板" href="#" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
  		</span>
  		<p class="dateview">
  			<span>2016-05-02</span>
  			<span>作者：文一</span>
  			<span>个人博客：[<a href="#">原创个人博客模板</a>]</span>
  		</p>
  		<h3><a href="#">柠檬绿兔小白个人博客模板</a></h3>
  		<figure><img src="./images/template03.jpg" alt=""></figure>
  		<span class="description">
  			<p>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇</p>
  			<a title="【活动作品】柠檬绿兔小白个人博客模板" href="#" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
  		</span>
  		<p class="dateview">
  			<span>2016-05-02</span>
  			<span>作者：文一</span>
  			<span>个人博客：[<a href="#">原创个人博客模板</a>]</span>
  		</p>
  		<h3><a href="#">柠檬绿兔小白个人博客模板</a></h3>
  		<figure><img src="./images/template03.jpg" alt=""></figure>
  		<span class="description">
  			<p>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标签云...此作品设计图作者窦耀宇</p>
  			<a title="【活动作品】柠檬绿兔小白个人博客模板" href="#" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
  		</span>
  		<p class="dateview">
  			<span>2016-05-02</span>
  			<span>作者：文一</span>
  			<span>个人博客：[<a href="#">原创个人博客模板</a>]</span>
  		</p>
  		
  	</div>
  	<aside class="right">
  		<div class="news">
  			<h3>
		      <p>最新<span>文章</span></p>
		    </h3>
		    <ul class="rank">
     			<li><a href="#" target="_blank">帝国cms首页、自定义页面如何实现分页</a></li>
     			<li><a href="#" target="_blank">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>
     			<li><a href="#" target="_blank">【郑重申明】本站只提供静态模板下载！</a></li>
     			<li><a href="#" target="_blank">【孕期日记】生活本该如此</a></li>
     			<li><a href="#" target="_blank">【匆匆那些年】总结个人博客经历的这四年…</a></li>
     			<li><a href="#" target="_blank"> 2014年度优秀个人博客排名公布</a></li>
     			<li><a href="#" target="_blank">2014年度优秀个人博客评选活动</a></li>
     			<li><a href="#" target="_blank">使用CSS3制作文字、图片倒影</a></li>
     			<li><a href="#" target="_blank">【分享】css3侧边栏导航不同方向划出效果</a></li>
     			<li><a href="#" target="_blank">分享我的个人博客访问量如何做到IP从10到600的(图文)</a></li>
     			<li><a href="#" target="_blank">帝国cms常用标签调用方法总结（不得不收藏哦）</a></li>
     			<li><a href="#" target="_blank">【分享】css3标签切换卡样式</a></li>
     		</ul>

  			<h3 class="ph">
		      <p>模板<span>排行</span></p>
		    </h3>
		    <ul class="rank">
     			<li><a href="#" target="_blank">【分享】css3侧边栏导航不同方向划出效果</a></li>
     			<li><a href="#" target="_blank">分享我的个人博客访问量如何做到IP从10到600的(图文)</a></li>
     			<li><a href="#" target="_blank">帝国cms常用标签调用方法总结（不得不收藏哦）</a></li>
     			<li><a href="#" target="_blank">【分享】css3标签切换卡样式</a></li>
     		</ul>

     		<h3 class="links">
		      <p>友情<span>链接</span></p>
		    </h3>
  		</div>
  	</aside>
  </article>
<% include footer.ejs %>